*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.protfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 700ms;
}
.protfolio img:hover{
    transform: scale(1.2);

}

.about-section{
    text-align: justify !important;
}

/* safe-section */

.safe-section{
    background: url(/image/About-Image/Safe-banner.jpg) no-repeat center;
    background-size: cover;
    /* padding: 150px 0; */
    /* text-align: justify; */
}

.pest-img img {
	position: relative;
	top: 70px;
	height: 545px;
}

